
#compose {
  text-align:center;
} 

#tweetprompt {
    
  font-family:"Source Sans Pro", "sans-serif";
  font-weight: 700;
}
#tweet-text {
  
  width: 100%;
  background-color:transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  font-family:"Source Sans Pro", "sans-serif";
  
}

#tweetandcount {
  display:flex;
  justify-content: space-between;
}

#tweetbutton {
  background-color:#4056A1;
  color:white;
  margin-bottom: 0.5em;
}


.negative {
  color: red;
}

article {
  
  font-family:"Source Sans Pro", "sans-serif";
  border:3px solid darkgrey;
  width:100%;
  margin-bottom: 30px;
}

article:hover {
  box-shadow: 5px 5px  grey;
}

.handle {
  display:none;
}

article:hover .handle {
  display:inline;
  
}

.icons {
  display:none;
}

article:hover .icons {
  display:inline;
  
}

.tweet-header {
  display:flex;
  justify-content: space-between;
}

.pic-name {
  display:flex;
  justify-content: space-between;
  
  
}

.pic-name p {
  
}

.handle {
  
}

.main-message {
  margin-left:20px;
}

hr {
  width: 95%;
  color: darkgrey;
}

.days-ago {
 
  margin-left: 20px;
}

article footer {
  display:flex;
  justify-content: space-between;
}

.icons {
  margin-right: 20px;
}

.new-tweet p {
  display:none;
  width: 100%;
  height: 50px;
  border-style: double;
  padding-top: 10px;
  text-align: center;
  background-color:white;
  color:red;
  font-family:"Source Sans Pro", "sans-serif";
} 

